@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Piazzolla:wght@600&display=swap');

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Piazzolla', serif; */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/* <i class="fas fa-info-circle"></i> */

:root{
    --dark: RGB(29 0 8);
    --dgreen: RGB(71 150 118);
    --lgreen: RGB(180 186 0);
    --pink: RGB(255 0 60);
    --white: #FeFFFF; 

    --serif: 'Piazzolla', serif;
    --sans: 'Noto Sans', sans-serif; 
}

*{
    box-sizing: border-box;
}

/* ----------------------  HEADER  ------------------------- */
body{
    font-family: var(--serif);
    background-color: var(--pink);
    font-size: 16px;
}

header{
    background-color: var(--dark);
    color: var(--white);
    font-size: 40px;
    height: 500px;
}

header i{
    color: var(--pink);
    margin-top: 25px;
    margin-left: 25px;
}
header i:hover{
    cursor: pointer;
}

header>div{
    text-align: center;
    padding: 100px 0;
}

header>div>div{
    font-family: var(--sans);
    font-size: 28px;
    display: inline-block;
    position: relative;
    top: -16px;
    left: 4px;
}

header>div>div>div{
    position: absolute;
    font-size: 14px;
    rotate: -90deg;
    left: -24px;
    bottom: 12px;  
}

header>p{
    text-align: center;
    font-size: 62px;
}

header>p img{
    /* display: inline-block; */
    /* height: 80px; */
    margin-left: -64px;
    margin-top: 10px;
}

header>img{
    display: none;
}

@media( max-width: 800px ){
    header>p{
        font-size: 40px;
    }

    header>p img{
        height: 80px;
        margin-left: -36px;
        margin-top: 75px;
    }
}

@media( max-width: 460px ){
    header>p{
        display: none;
    }

    header>img{
        display: block;
        margin: 0 auto;
        height: 100px;
        margin-top: 55px;
    }
}


/* ----------------------  MAIN  ------------------------- */
/* Botones */
.row1{
    display: flex;
    flex-wrap: wrap; 
    padding: 60px 15% 26px 15%; 
}

.cajainput{
    border: none;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--sans);
    font-size: 14px;
    padding: 4px 20px;
}

#nueva{
    width: 41%;
    margin: 0 1%;
}

.select{
    position: relative;
    width: 41%;
    margin: 0 1%;
}

#eligecategoria{
    width: 100%;
    appearance: none;
}

.flechadesplegable{
    position: absolute;
    display: block;
    background-color: #67917A;
    height: 100%;
    width: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 0;
    right: 0;
    pointer-events: none;
}

.flechadesplegable::before,
.flechadesplegable::after{
    --size: 8px;
    content: '';
    position: absolute;
}

.flechadesplegable::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--white);

    top: 18px;
    right: 13px;
}

.flechadesplegable::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid var(--white);

    top: 6px;
    right: 13px;
}

#botonposponer{
    background-color: var(--dgreen);
    color: var(--white);
    margin: 0 1%;
    width: 12%;
    min-width: 40px;
}

#botonposponer:hover{
    cursor: pointer;
}

#or{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--dark);
    color: var(--pink);
    font-family: var(--sans);
    text-align: center;
    padding: 6px 0;
}

.row2{
    display: flex;
    flex-wrap: wrap; 
    padding: 26px 20% 60px 20%; 
}

#buscar{
    width: 41%;
    margin: 0 1% 0 7%; 
}

#filtracategoria{
    appearance: none;
    width: 100%;
}

@media( max-width: 800px ){
    .row1, 
    .row2{
        flex-direction: column;
        border: 2px solid var(--white);
        padding: 25px;
        margin: 40px 10%;
    }
    #nueva,
    #buscar{
        width: 100%;
        margin: 0  0 20px 0;
    }
    .select{
        width: 100%;
        margin-bottom: 20px;
    }
    #botonposponer{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}



/* Lista de tareas */
main section h2{
    display: none;
}

main section article{
    position: relative;
    padding: 15px 4%;
    background-color: var(--white);
    margin: 1% 5%;
    border-radius: 14px;

}

main section article .color{
    position: absolute;
    background-color: var(--lgreen);
    height: 100%;
    width: 20px;
    left: 0;
    top: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.dgreen{
    background-color: var(--dgreen);
}
.lgreen{
    background-color: var(--lgreen);
}
.dark{
    background-color: var(--dark);
}

main section article div:last-child{
    position: absolute;
    background-color: var(--pink);
    height: 80%;
    width: 40px;
    border-radius: 50%;
    top: 6px;
    right: 7px;
}

main section article div:last-child input{
    background: none;
    border: none;
    height: 100%;
    width: 100%;
}
main section article div:last-child input:hover{
    cursor: pointer;
}

main section article div:last-child i{
    position: absolute;
    color: var(--white);
    font-size: 28px;
    top: 6px;
    left: 8.5px;
    pointer-events: none;
}
