@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Piazzolla:wght@600&display=swap');

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Piazzolla', serif; */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/* <i class="fas fa-info-circle"></i> */

:root{
    --dark: #170409;
    --dgreen: #67917A;
    --lgreen: #B8AF03;
    --pink: #E33258;
    --white: #FeFFFF; 

    --serif: 'Piazzolla', serif;
    --sans: 'Noto Sans', sans-serif; 
}

*{
    box-sizing: border-box;
}

/* ----------------------  HEADER  ------------------------- */
body{
    font-family: var(--serif);
    background-color: var(--pink);
    font-size: 16px;
}

header{
    background-color: var(--dark);
    color: var(--white);
    font-size: 40px;
    height: 500px;
}

header i{
    color: var(--pink);
    margin-top: 25px;
    margin-left: 25px;
}

header>div{
    text-align: center;
    padding: 100px 0;
}

header>div>div{
    font-family: var(--sans);
    font-size: 28px;
    display: inline-block;
    position: relative;
    top: -16px;
    left: 4px;
}

header>div>div>div{
    position: absolute;
    font-size: 14px;
    rotate: -90deg;
    left: -24px;
    bottom: 12px;  
}

header>p{
    text-align: center;
    font-size: 62px;
}

header>p img{
    /* display: inline-block; */
    /* height: 80px; */
    margin-left: -64px;
    margin-top: 10px;
}

header>img{
    display: none;
}

@media( max-width: 800px ){
    header>p{
        font-size: 40px;
    }

    header>p img{
        height: 80px;
        margin-left: -36px;
        margin-top: 75px;
    }
}

@media( max-width: 460px ){
    header>p{
        display: none;
    }

    header>img{
        display: block;
        margin: 0 auto;
        height: 100px;
        margin-top: 55px;
    }
}